In [1]:
# Perform the following operations on Age-Income dataset (Age-Income-Dataset.csv)
# Provide summary statistics (mean, median, minimum, maximum, standard deviation) for numeric variables with and
# without using any library functions.
# Provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each
# response to the categorical variable.

In [2]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("Age-Income-Dataset.csv")
df

           Age  Income
0        Young   25000
1   Middle Age   54000
2          Old   60000
3        Young   15000
4        Young   45000
5        Young   65000
6        Young   70000
7        Young   30000
8   Middle Age   27000
9        Young   23000
10       Young   48000
11         Old   52000
12       Young   33000
13         Old   80000
14         Old   75000
15         Old   35000
16  Middle Age   29000
17  Middle Age   57000
18         Old   43000
19  Middle Age   56000
20         Old   63000
21         Old   32000
22         Old   45000
23         Old   89000
24  Middle Age   90000
25  Middle Age   93000
26       Young   80000
27       Young   87000
28       Young   38000
29       Young   23000
30  Middle Age   38900
31  Middle Age   53200
32         Old   43800
33  Middle Age   25600
34  Middle Age   65400
35         Old   76800
36         Old   89700
37         Old   41800
38       Young   31900
39         Old   25600
40  Middle Age   45700
41         Old   35600
42       Young   54300
43  Middle Age   65400
44         Old   67800
45         Old   24500
46  Middle Age   34900
47         Old   45300
48       Young   68400
49  Middle Age   51700

In [6]:
df.isnull().sum()

Age       0
Income    0
dtype: int64

In [7]:
mean=np.mean(df['Income'])
mean

50966.0

In [14]:
std=np.std(df['Income'])
std

20884.6509187968

In [9]:
median=np.median(df['Income'])
median

46850.0

In [11]:
n = df['Income']
min_sal= 99999999
max_sal = 0
for i in n:
    if min_sal>i:
        min_sal = i
    if max_sal<i:
        max_sal = i
print("Minimum salary is: ",min_sal)
print("Maximum salary is: ",max_sal)

Minimum salary is:  15000
Maximum salary is:  93000

In [12]:
# variance without built-in functions
n = np.count_nonzero(df['Income'])
mean_sal = sum(df['Income']) / n
var_sal = sum((item - mean_sal)**2 for item in df['Income']) / (n - 1)
print(var_sal)

445070044.8979592

In [15]:
std_sal = var_sal**0.5
print(std_sal)

21096.683267707253

In [19]:
df= df.groupby('Age')['Income'].apply(list)

In [20]:
df

Age
Middle Age    [54000, 27000, 29000, 57000, 56000, 90000, 930...
Old           [60000, 52000, 80000, 75000, 35000, 43000, 630...
Young         [25000, 15000, 45000, 65000, 70000, 30000, 230...
Name: Income, dtype: object

In [21]:
mean_midd=np.mean(df['Middle Age'])
mean_midd

52453.333333333336