### Problem Statement No 4

### Consider the Bangalore House Price Data. Perform following operations.
a) Find and replace null values in the data using appropriate technique.
b) Transform the ‘Size’ column to numerical values. For Example: 2 BHK to be converted as 2
c) Transform the ‘total_sqft’ column to contain numerical values on same scale. If the range is given average value of
the range to be taken.
d) Calculate and add one more column as ‘Price_Per_Sqft’
e) Remove the outliers from Price_Per_Sqft and BHK Size column if any.
f) Apply the Linear Regression model to the data and display the training and testing performance measures as Mean
Squared Error and Accuracy

In [1]:
import pandas as pd

In [2]:
DataFrame = pd.read_csv('Banglore Housing Prices.csv')

In [3]:
df = DataFrame.copy()

In [6]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [10]:
df.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [11]:
df.dtypes

location       object
size           object
total_sqft     object
bath          float64
price         float64
dtype: object