In [1]:
import pandas as pd
import numpy as np

In [3]:
DataFrame = pd.read_csv("age-income.csv")
df=DataFrame.copy()

In [4]:
df.head()

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

In [5]:
df.isnull().sum()

Age       0
Income    0
dtype: int64

In [6]:
df.shape

(50, 2)

In [7]:
mean = np.mean([df['Income']])
mean

50966.0

In [9]:
median = np.median([df['Income']])
median

46850.0

In [11]:
std  = np.std(df['Income'])
std

20884.6509187968

In [12]:
minimum_value = df['Income'].min()
minimum_value

15000

In [13]:
max_value = df['Income'].max()
max_value

93000

In [17]:
# min and max value without library function
n = df['Income']
min1 = 9999999
max1 = 0

for i in n:
    if min1>i:
        min1=i
    if max1<i:
        max1=i
print(f"Minimum value: {min1}")
print(f"Maximum value: {max1}")

Minimum value: 15000
Maximum value: 93000

In [25]:
# income grouped by the age groups
# df_group = df.groupby('Age')['Income'].describe()
df_group = df.groupby('Age')['Income'].apply(list)

In [26]:
df_group

Age
Middle Age    [54000, 27000, 29000, 57000, 56000, 90000, 930...
Old           [60000, 52000, 80000, 75000, 35000, 43000, 630...
Young         [25000, 15000, 45000, 65000, 70000, 30000, 230...
Name: Income, dtype: object